*{
    margin: 0;
    padding: 0;
}
header{
    height: 10vh;
    width: 100%;
    background-color: #FAFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000E47;
    font-family: firstfont;
}
.container{
    width: 100%;
    height: 80vh;
    background-color: #FAFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.napster{
    width: 80%;
    height: 8vh;
    background-color: aliceblue;
    margin-top: 3vh;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: relative;
}
.napster:active{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.napster a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-family: firstfont;
    width: 100%;
    height: 50%;
}
footer{
    height: 10vh;
    width: 100%;
    background-color: #FAFFFF;
}
footer p{
    color: #000E47;
    margin-top: 1.5vh;
    margin-left: 2.5%;
    font-family: firstfont;
}
@font-face {
  font-family: firstfont;
  src: url(font/Maktab/MaktabRita-Regular.eot);
}